@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
  box-shadow: 0px 5px 3px -2px #00000005;
  box-shadow: 0px 3px 2px -2px #0000000F;
  border: 1px solid #F2F2F2;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
    linear-gradient(0deg, #F2F2F2, #F2F2F2);
}

.card-title {
  @apply uppercase text-xs font-semibold text-black-900/50 tracking-wider;
}
